.main-section-with-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.image-from-the-main-grid {
  height: 100%;
  width: 100%;
  max-height: 100%;
  border: 5px black;
  transition: transform 0.1s ease;
}

.top {
  height: 120px;
  width: 1fr;
  background-color: rgb(202, 53, 53);
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-text {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-v-obrazku {
  position: absolute;
}

.image-div {
  position: relative;
  display: inline-block;
}

.image-from-the-main-grid:hover {
  transform: scale(1.1) translateY(-2px);
}

.swiss-text {
  color: red;
}

body {
  background-color: rgb(30, 30, 30);
}